{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRAIMAS 【クレイマス】</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container-fluid">

        <div class="row border ">
            <!-- ヘッダー -->
            <h2 class="text-center">CRAIMAS 【クレイマス】 </h2>
            <div class="row text-center ">
                <div class="col">
                    <h4>現在の登録社数: {{num_c}}社</h4>
                </div>
                <div class="col">
                    <h4>現在の活動中件数: {{num_a}}件</h4>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="container">
                <div class="row">
                    <div class="alert alert-danger text-center">
                        <b>以下の条件のカスタムシートを削除します。</b><br>
                        <b>内容を確認してください</b>
                    </div>
                        <div class="alert alert-info">
                            <h5>検索条件</h5>
                            <ul>
                                <li>検索対象モデル: {{sheet_config.model}}</li><br>
                                <li>表示対象フィールド<ul>{% for key,val in sheet_config.selected.items %} <li>{{val}} ({{key}}) </li> {% endfor %}</ul></li><br>
                                <li>表示順制御条件<ul>{% for key,val in sheet_config.view_settings.items %}<li>{{key}}: {% if val == "1" %}昇順{% elif val == "2" %}降順{% endif %}</li>{% endfor %}</ul></li><br>
                                <li>絞り込み条件設定<ul>
                                    <li>検索方法: {% if sheet_config.search_settings.how == "1" %}完全一致{% elif sheet_config.search_settings.how == "2" %}部分一致{% endif %}</li>
                                    <li>検索対象項目: {{sheet_config.search_settings.where}}</li>
                                    <li>検索文字列: 「{{sheet_config.search_settings.what}}」</li>
                                </ul></li>
                            </ul>
                        </div>
                        <form method = "post">{% csrf_token %}<button class = "btn btn-danger ">消去</button></form>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    <script>
        let wind = [];

        function open_as_window(url, name, width, height) {
            wind.push(window.open(`${url}`, `${name}`,
                `width=${width},height=${height},toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes`
                ))
        };
        window.addEventListener('beforeunload', function () {
            if (wind.length != 0) {
                for (let i = 0; i < wind.length; i++) {
                    wind[i].close();
                }
            }
        });
    </script>
</body>

</html>