{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include "main/html_head.html" %}
  </head>
  <body>
    <div class="container">
      <h3 class="text-center">住所検索結果</h3>
      <p class="text-center">反映させる住所を選択してください</p>
      <div class="row m-3">
        {% if res %} {% for d in res %}
        <div class="row border my-3" id="{{forloop.counter}}">
          <input class="col-1 border" type="radio" name="address" />
          <div class="col-10">
            <label class="form-label" for="zipcode">郵便番号</label>
            <input
              class="form-control"
              type="text"
              value="{{d.zipcode}}"
              id="zipcode"
              disabled
            />
            <label class="form-label" for="address">住所</label>
            <input
              class="form-control"
              type="text"
              value="{{d.address1}}{{d.address2}}{{d.address3}}"
              id="address"
              disabled
            />
          </div>
        </div>
        {% endfor %} {% else %} {% if message %}
        <div class="alert alert-{{message.color}}" role="alert">
          <h5>{{message.message}}</h5>
        </div>
        {% endif %}{% endif %}
        <button class="btn btn-primary" onclick="window.close()">閉じる</button>
      </div>
    </div>
    <script>
      Main.default.get_address.init();
    </script>
    {% include "main/footer.html"  %}

  </body>
</html>
