{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header_newtab.html" %}
        <div class="row m-2">
            {% if errors %}<div class="alert alert-danger text-center list-unstyled" role="alert">{% for error in errors %}{{error}} {% endfor %}</div>{% endif %}
            <div class  = "text-center"><h4 class = "border-bottom p-3">{{name}}</h4></div>
            <div class="container">
                <div class="row p-3">
                    <form method = "post">
                    {% csrf_token %}
                    {% for f in form %}
                    {% if f.name == "zipcode" %}
                    {% bootstrap_field f %}
                    <button type = "button" class = "btn btn-warning mb-3" onclick="Main.default.interview_create.search_zipcode('{% url 'get_address' 'placeholder' %}')">住所を検索</button>
                    {% elif f.name == "interviewer" %}
                    {% bootstrap_field f %}
                    <button type = "button" class = "btn btn-outline-info mb-3" onclick="Main.default.interview_create.get_interviewer('{% url 'get_interviewer' R_id %}')">企業シートから担当者を引用</button>
                    {% else %}
                    {% bootstrap_field f %}
                    {% endif %}
                    {% endfor %}
                    <button type="submit" class = "btn btn-success">登録</button>
                </form>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>
        Main.default.interview_create.init()
    </script>
</body>

</html>