{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header_newtab.html" %}
        <div class="row m-2">
            {% if as_staff %}
            <div class = "text-center alert alert-warning">
                <h5>管理者権限での閲覧です。</h5>
                <h5>削除・編集を行うことができません</h5>
            </div>
            {% endif %}
            <div class  = "text-center"><h4 class = "border-bottom p-3">{{R_sets.company}}</h4><h5> 面談録一覧</h5></div>
            <div class="container">
                <div class="row p-3">
                    <ul class = "list-unstyled">
                    {% for interview in interviews %}
                    <li><a onclick="Main.default.interview_main.view_interview('{% url "view_interview" "placeholder" %}','{{interview.InterviewID}}')"><p>{{interview.title}} <br> ({{interview.date}})</p></a></li>
                    {% endfor %}
                </ul>
                {% if not as_staff %}
                    <a href="{% url "interview_create" R_sets.RegistID %}" class = "btn btn-success"> 新規作成 </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>
        Main.default.interview_main.init()
    </script>
    {% include "main/footer.html"  %}

</body>

</html>