{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>{% include "main/html_head.html" %}</head>
    
<body>
    {% csrf_token %}
    <div class="container-fluid">
        {% include "main/header_newtab.html" %}
        <div class="row m-2">
                    <div
                        class="table-responsive"
                    >
                    <div
                        class="alert alert-info "
                        role="alert"
                    >
                        <p class ="text-center"> <strong>選択された項目が面談メモに追記されます</strong> </p>
                    </div>
                    <form method="post" id="ESForm">
                        {% csrf_token %}
                    </form>
                        <table
                            class="table border"
                        >
                            <thead>
                                <tr>
                                    <th scope="col">選択</th>
                                    <th scope="col">日時</th>
                                    <th scope="col">タイトル</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ES in selected_ES %}
                                <tr class="table-success">
                                    <td scope="row"><div class="form-check"><input class="form-check-input selectData" type="checkbox" value="{{ES.ESModelID}}" id="" disabled></div></td>
                                    <td>{{ES.created}}</td>
                                    <td>{{ES.title}}</td>
                                    <td><button class = "btn btn-primary" onclick="Main.default.ESdata.get_detail('{% url "GetEsModelDetail" ES.ESModelID %}')">閲覧</button></td>
                                </tr>
                                {% endfor %}
                                {% for ES in NotSelectedES %}
                                <tr class="">
                                    <td scope="row"><div class="form-check"><input class="form-check-input selectData" type="checkbox" value="{{ES.ESModelID}}" id="" /></div></td>
                                    <td>{{ES.created}}</td>
                                    <td>{{ES.title}}</td>
                                    <td><button class = "btn btn-primary" onclick="Main.default.ESdata.get_detail('{% url "GetEsModelDetail" ES.ESModelID %}')">閲覧</button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
            </div>
        <div class ="row m-2 ">
            <button
            type="button"
            class="btn btn-success col m-2"
            onclick = "Main.default.ESdata.save_check('{% url "ESModelSelect" I_ID %}')"
        >
            選択を保存して面談メモに追記
        </button>
        <button
        type="button"
        class="btn btn-outline-warning col m-2"
        onclick = "Main.default.ESdata.all_clear('{% url "ESModelSelect" I_ID %}')"
    >
        選択済みを全解除
    </button>
        
        <button
            type="button"
            class="btn btn-primary col m-2"
            onclick = "window.close()"
        >
            閉じる
        </button>

        </div>
        
        <div class = "row m-2" id = "ES_detail">
        </div>
    </div>


    {% include "main/footer.html"  %}
</div>

</body>

</html>