{% load django_bootstrap5 %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include "main/html_head.html" %}
</head>
<body>
    <div class="container-fluid">
        {% include "main/header_newtab.html" %}
            <div class="container">
                <div class = "row">
                    <div class = "text-center my-3">
                        <input type="checkbox" class="btn-check" id="auto-save-check" autocomplete="off">
                        <label class="btn btn-outline-warning mx-2" for="auto-save-check">自動保存</label>
                    </div>
                <form method = "POST" action = "{% url "save_by_js" ESModelID %}" id = "ESmodel-form">
                    {% csrf_token %}
                    {% for f in form %}
                    {% bootstrap_field f%}
                    {% if f.name == "desc" %}
                    {% set_counter f.name %}
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                    <button type="button" onclick = "Main.default.ESmanage.detail.t_save(false)" class = "btn btn-success col-3 mx-auto">登録・更新</button>

                </div>
            </form>

            </div>
    </div>
    <div class="toast-container position-fixed top-0 start-0 p-3">
        <div id="status-toast" class="" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-body text-white " id = "toast-status"></div>
        </div>
        <div id="time-toast" class="" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide = "false">
            <div class="toast-body text-white" id = "time-toast-status"></div>
          </div>
    </div>
    <script>
        Main.default.ESmanage.detail.init()
    </script>
    {% include "main/footer.html"  %}
</body>

</html>