{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header_newtab.html" %}
        <div class="row m-2">
            <div class  = "text-center"><h4 class = "border-bottom p-3">{{R_sets.company}}</h4><h5> 面談録一覧</h5></div>
            <div class="container">
                <div class="row p-3">
                    <ul class = "list-unstyled">
                    {% for interview in interviews %}
                    <li><a onclick="Main.default.interview_main.view_interview('{% url "view_interview" "placeholder" %}','{{interview.InterviewID}}')"><p>{{interview.company_name}}: {{interview.title}}  [ 担当: {{interview.interviewer}} ]<br> ({{interview.date}})</p></a></li>
                    {% empty %}
                    <div
                        class="alert alert-warning text-center"
                        role="alert"
                    >
                        <strong>引用された面談録がありません</strong>
                        <p>面談録に該当のES・質問を引用することで表示できます</p>
                    </div>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <button class ="btn btn-outline-primary" onclick="window.close()">閉じる</button>
        </div>
    </div>

    </div>
    <script>
        Main.default.interview_main.init()
        Main.default.open_as_window.init()
    </script>
    {% include "main/footer.html"  %}

</body>

</html>