<!DOCTYPE html>
<html lang="ja">
    <head>{% include "main/html_head.html" %}</head>
<body>
    <div class="container-fluid">
        {% include "main/header.html" %}
        <div class="row m-2 p-3 border border-3 text-center">
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                現在の登録企業数
                <div class = "row text-center">
                         <span>  <span class = "fs-3">  {{state.all}}</span>件</span>
                </div>
            </div>
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                現在の活動中企業数
                <div class = "row text-center">
                         <span>  <span class = "fs-3">  {{state.active}}</span>件</span>
                </div>
            </div>
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                現在の活動終了企業数
                <div class = "row text-center">
                         <span>  <span class = "fs-3">  {{state.noactive}}</span>件</span>
                </div>
            </div>
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                活動継続率
                <div class = "row text-center">
                         <span>  <span class = "fs-3">  {{state.active_avg}}</span>%</span>
                </div>
            </div>
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                平均面談数
                <div class = "row text-center">
                         <span>  <span class = "fs-3">  {{state.interview_avg}}</span>件</span>
                </div>
            </div>
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                合計面談数
                <div class = "row text-center">
                         <span>  <span class = "fs-3">  {{state.interview_count}}</span>件</span>
                </div>
            </div>
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                面接官登録数
                <div class = "row text-center">
                    <span>  <span class = "fs-3">  {{state.interviewer_count}}</span>名</span>
                </div>
            </div>
            <div class = "col-5 p-2 m-2 mx-auto border rounded border-dark">
                同学年における企業情報登録率
                <div class = "row text-center">
                         <span> 上位 <span class = "fs-3"> {{state.age_registsets}} </span>%</span>
                </div>
            </div>
            </div>
        </div>
    </div>

{% include "main/footer.html"  %}

</body>

</html>