{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="jp">

{% include "main/html_head.html" %}

<body>
    <div class="container-fluid">
        {% include "main/header.html" %}
        <div class="row">
            <h3 class = "text-center"> 登録ユーザー全シート </h3>
            <h5 class = "text-center"> システムに登録されている全ユーザーのシートを閲覧のみ行うことができます。削除・編集は行うことができません </h5>
            <div class="container">
                <div class = "row m-3">
                    <h3 class = "border-bottom">検索<span id = "search_item_show" style = "display:none" readonly></span></h3>
                        <div name = "search_item" class = "input-group">
                        <span class = "input-group-text">検索文字列</span><input type="text" class = "form-control" id = "search_str">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">検索対象項目</button>
                        <input type="hidden" name = "search_item_value" id= "search_item_value" value = ""/>
                        <button class="btn btn-success rounded-end" type="button" onclick = "check_and_fetch('{% url "admin_all_sheet" sheet_from="sheet_from" where="where" %}')">検索</button>
                        <ul class="dropdown-menu">
                            <button class="dropdown-item" onclick = "select_search('企業名')" type = "button">企業名</button>
                            <button class="dropdown-item"onclick = "select_search('所属業界名')" type = "button">所属業界名</button>
                            <button class="dropdown-item"onclick = "select_search('所在地')" type = "button">所在地</button>
                            <button class="dropdown-item"onclick = "select_search('担当者名')" type = "button">担当者名</button>
                            <button class="dropdown-item"onclick = "select_search('ユーザー名')" type = "button">ユーザー名(完全一致)</button>
                        </ul>
                        </div>
                        <div class = "col text-center m-3"><button class = "btn btn-secondary" onclick="init_fetch('{% url 'admin_all_sheet' sheet_from='init' where='none' %}')">リセット</button></div>
                </div>
                <div class="row m-3">
                    <!--投稿一覧-->
                    <h3 class = "border-bottom my-3">投稿一覧 (全登録数: {{count}}件)</h3>
                    <table class="  border table table-hover"  id = "post_list"></table>
                    <div class="text-center"><a href="{% url "index" %}"><button class="btn btn-primary">ホームに戻る</button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static "js/open_as_window.js" %}"></script>


    <script src="{% static "js/search.js" %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", async function() {
        await init_fetch('{% url "admin_all_sheet" sheet_from="init" where="none" %}');
    });
</script>

</body>

</html>