<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
    </head>
    
<body>
    <div class = "container-fluid">
        <div class = "row p-3 text-center">
            <h3>管理者用サイト</h3>
            <div class = "row ">
                <a href="{% url "create_infomation" %}"><div class = "col border m-3 p-3 "><h5>お知らせ管理</h5></div></a>
                <a href="{% url "management_support" %}"><div class = "col border m-3 p-3 "><h5>問い合わせ閲覧</h5></div></a>
                <a href="{% url "all_sheets" %}"><div class = "col border m-3 p-3 "><h5>全登録シート閲覧</h5></div></a>
            <a href="{% url "management_sheets" %}"><div class = "col border m-3 p-3"><h5>統括シート閲覧</h5></div></a>
            <a href="{% url "all_interviewer" %}"><div class = "col border m-3 p-3 "><h5>全採用担当者閲覧</h5></div></a>
            <a href="{% url "regist_all" %}"><div class = "col border m-3 p-3 "><h5>ユーザー毎面談録管理</h5></div></a>
        </div>
    </div>
    <div class = "row">
        <ul class = "list-unstyled">
            <li><h5>お知らせ管理</h5></li>
            <ul>
                <li><p>利用者に対して表示するお知らせを管理できます</p></li>
                <li><p> カテゴリごとの表示、表示・非表示の設定、表示させるユーザーの設定などを行うことができます </p></li>

            </ul>
            <li><h5>全登録シート閲覧</h5></li>
            <ul>
                <li><p>登録されている全ユーザーの企業情報シートを閲覧することができます</p></li>
                <li><p> ユーザー名や、企業名からシートを絞り込んで検索することが可能になります </p></li>
                <li><p>登録済みの企業情報からの引用は行えません</p></li>
            </ul>
            <li><h5>統括シート閲覧</h5></li>
            <ul>
                <li><p>全体の登録状況、登録率などを閲覧することができます</p></li>
                <li><p>企業情報の引用を行うことができます</p></li>
                <li><p>登録済みの企業情報を編集する際に便利です</p></li>
            </ul>
            <li><h5>全採用担当者閲覧</h5></li>
            <ul>
                <li><p>全ユーザーが登録した採用担当者（名刺情報）を閲覧して確認することができます</p></li>
                <li><p>企業情報の引用を行うことができます</p></li>
                <li><p>登録済みの企業情報を編集する際に便利です</p></li>
            </ul>
            <li><h5>ユーザー毎面談録管理</h5></li>
            <ul>
                <li><p>登録されているユーザーの面談録をすべて表示することができます</p></li>
                <li><p> ユーザー名や、企業名からシートを絞り込んで検索することが可能になります </p></li>
            </ul>
        </ul>
    </div>
    <div class = "text-center"><button onclick = "window.parent.document.location.reload()" class = "btn btn-primary">ホームに戻る</button></div>
    </div>

</body>
</html>