{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>{% include "main/html_head.html" %}</head>
<body>
    <div class="container-fluid">
        <div class = "row m-3 border rounded p-3">
            <h4 class = "border-bottom">投稿一覧</h4>
            <div class = "input-group m-3" id = "infomation-addon">
                <select  class = "form-select" id = "search-select">
                    <option value = "0" selected> 検索対象項目を選択 </option>
                    <option value="1">タイトル</option>
                    <option value="2">カテゴリ</option>
                    <option value="3">内容</option>
                </select>
                <input type="text" class = "form-control" id = "search-holder" placeholder = "検索対象文字列を入力">
            </div>
            {% if infomations %}
            
            <div
                class="table-responsive"
            >
                <table
                    class="table"
                >
                    <thead>
                        <tr class = "table-primary">
                            <th scope="col">投稿日時</th>
                            <th scope="col">タイトル</th>
                            <th scope="col">カテゴリ</th>
                            <th scope="col">内容</th>
                            <th scope="col">公開範囲</th>
                            <th scope="col" class ="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for infomation in infomations %}
                        <tr class="{% if infomation.is_active %} table-primary {% else %} bg-secondary{% endif %}" name = "data-rows">
                            <td scope="row">{{infomation.created_at}}</td>
                            <td>{{infomation.title}}</td>
                            <td>{{infomation.category}}</td>
                            <td> {{infomation.content}} </td>
                            <td>{% if infomation.is_public %}全体公開 {% else %} 限定公開 {% endif %}</td>
                            <td><button class = "btn btn-success mx-2" onclick="Main.default.infomation.conf_infomation('{{infomation.id}}', 'change_public', '{% url "conf_infomation" %}', '{{csrf_token}}')">範囲切替</button><button class = "btn btn-info mx-2" onclick="Main.default.infomation.conf_infomation('{{infomation.id}}', 'change_show', '{% url "conf_infomation" %}', '{{csrf_token}}')">公開切替</button><button class = "btn btn-danger" onclick="Main.default.infomation.conf_infomation('{{infomation.id}}', 'delete', '{% url "conf_infomation" %}', '{{csrf_token}}')">削除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            
            {% endif %}
        </div>
        <div class="row m-2">
            <form action="{% url "create_infomation" %}" method="POST">
                {% csrf_token %}
                <div class="container">
                    {% for f in form %}
                    {% bootstrap_field f %}
                    {% endfor %}
                    <button type="submit"class=" btn btn-primary ">登録</button>
            </div>
        </form>
        </div>
    </div>
    </div>

<script>
    Main.default.ManagementInfomation.init()
</script>

</body>

</html>