{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
    <head>{% include "main/html_head.html" %}</head>
<body>
    <div class="container-fluid">
        {% include "main/header.html" %}
        <div class = "row m-3 border rounded p-3">
            <h4 class = "border-bottom">お知らせ投稿一覧</h4>
            {% if infomations %}
            
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary"
                >
                    <thead>
                        <tr>
                            <th scope="col">タイトル</th>
                            <th scope="col">カテゴリ</th>
                            <th scope="col">内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for infomation in infomations %}
                        <tr class="">
                            <td scope="row">{{infomation.title}}</td>
                            <td>{{infomation.category}}</td>
                            <td> {{infomation.content}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            
            {% endif %}
        </div>
        <div class="row m-2">
            <form action="{% url "infomation" %}" method="POST">
                {% csrf_token %}
                <div class="container">
                    {% for f in form %}
                    {% bootstrap_field f %}
                    {% endfor %}
                    <button type="submit"class=" btn btn-primary ">登録</button>
            </div>
        </form>
        </div>
    </div>
    </div>

</body>

</html>