{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
            <link rel="stylesheet" href="{% static "css/textarea.css" %}">
    </head>

    <body>
    <div class = "container-fluid">
        {% include "main/header_newtab.html" %}
        <div class = "row text-center p-3"><div class = "col"><h3>登録内容を編集します</h3></div>
        <div class = "col">
            <input type="checkbox" class="btn-check" id="assist-check" autocomplete="off">
                <label class="btn btn-outline-info mx-2" for="assist-check">アシスト</label>
            <button class = "btn btn-outline-warning" onclick = "window.opener.location.reload()">マイページへ戻る</button>
            
        </div></div>
        <form method = "post" action = "{% url "edit_posts" R_id %}">
            {% csrf_token %}
            <div class = "container">

                <div class = "row text-center border">
                    <h5>企業情報</h5>
                    <table class = "table col">
                        {% for f in C_Form %}
                            <tr>
                                <td>{{ f.label }}:</td>
                                <td>{{ f.value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            <div class ="row border mt-4 px-2">
                <div class = "col border-end">
                <h5>事業内容</h5>
                <table class  = "table  table-hover">{% for f in A_Form %}{% bootstrap_field f %}{% endfor %}</table>
            </div>
            <div class = "col">
                <div class = "row ">
                    <div class = "col ">
                    <h5>経営理念等</h5>
                        <table class  = "table  table-hover">{% for f in I_Form %}{% bootstrap_field f %}{% endfor %}</table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class ="row border mt-4 ">
            <h4 class = " text-center m-3">志望動機・企業情報</h4>
            <div class = "col border">
            <h5>志望動機シート</h5>
            <table class  = "table  table-hover">{% for f in M_Form %}{% bootstrap_field f %}{% endfor %}</table>
        </div>
        <div class = "col">
            <div class = "row ">
                <div class = "col border-top">
                <h5>企業データ</h5>
                <button type="button" class="btn btn-outline-warning my-3" onclick = "open_as_window('{% url "calc" %}','calc',600,300)">金額入力ツール</button>
                    <table class  = "table  table-hover">{% for f in D_Form %}{% bootstrap_field f %}{% endfor %}</table>
                </div>
            </div>
            <div class = "row">
                <div class  ="col border-top" >
                    <h5>採用情報</h5>
                    <table class  = "table  table-hover">{% for f in AD_Form %}{% bootstrap_field f %}{% endfor %}</table>
                </div>
            </div>
            <div class = "row border-top text-center">
                <div class = "col m-3 ">
                <button type = "submit" class = "btn btn-outline-success btn-lg mx-3"> 更新 </button>
                <button type = "button" onclick = "window.opener.location.reload();" class = "btn btn-secondary btn-lg mx-3">閉じる</button>
            
            </div>
            </div>
        </div>
        
    </div>
    </div>
        </form>
    </div>
<script src = "{% static "js/open_as_window.js" %}"></script>
<script src ="{% static "js/edit_post.js" %}" ></script>
<div class="toast-container position-fixed top-0 start-0 p-3">
    <div id="status-toast" class="" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body text-white " id = "toast-status"></div>
    </div>
  </div>
  <script src = "{% static "js/assist_tooltip.js" %}"></script>

</body>
</html>