{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
    </head>
<body>
    <div class = "row text-center  p-3"><div class = "col"><h3>登録情報</h3></div></div>
    {% if as_staff %}
    <div class = " row alert alert-warning text-center">
        <h5>管理者権限での閲覧です。</h5>
        <h5>削除・編集を行うことができません</h5>
    </div>
    {% endif %}

            {% csrf_token %}
            <div class = "container border">

            <div class = "row text-center ">
                <h5>企業情報</h5>
                <table class = "col table ">
                    {% for field in C_Form %}
                    
                        <tr>
                            <td>{{ field.label }}:</td>
                            <td>{{ field.value }}{% if field.name == "contact" or field.name == "president" %}<button class = "btn btn-outline-primary mx-3"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" onclick = "Main.default.open_as_window.open_as_window('{% url "prof_interviewer" company_id=post.company.CompanyID i_name=field.value %}', 'prof_interviewer', 530,600)"> {{field.label}}プロフィールを検索</button>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class ="row border mt-4 px-2">
                <div class = "col border-end">
                <h5>事業内容</h5>
                <table class  = "table  table-hover">
                    {% for field in A_Form %}
                        <tr>
                            <td>{{ field.label }}:</td>
                            <td>{{ field.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class = "col">
                <div class = "row ">
                    <div class = "col ">
                    <h5>経営理念等</h5>
                        <table class  = "table  table-hover">
                            {% for field in I_Form %}
                                <tr>
                                    <td>{{ field.label }}:</td>
                                    <td>{{ field.value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class ="row border my-4 ">
            <h4 class = " text-center m-3">志望動機・企業情報</h4>
            <div class = "col border p-2">
            <h5>志望動機シート</h5>
            <table class  = "table  table-hover">{% for field in M_Form %}
                <tr>
                    <td>{{ field.label }}:</td>
                    <td>{{ field.value }}</td>
                </tr>
            {% endfor %}</table>
            <div class = "border-top">
                <div class = "row p-4 "> <button onclick = "Main.default.open_as_window.open_as_window('{% url "interview_main" post.RegistID %}', 'interview_main', 490,600)"  class = " btn btn-success">面談録</button></div>
                {% if not as_staff %}

                <div class = "row p-4 "> <button class = "btn btn-outline-warning " onclick= "Main.default.open_as_window.open_as_window('{% url "export_sheet" post.RegistID %}', 'export_sheet', 400,600)">シートをエクスポートする</button></div>
                <div class = "row p-4 "> <button class = "btn btn-outline-info " onclick= "Main.default.view_my_post.change_active('{% url "change_active" %}','{{post.RegistID}}', '{{post.isActive}}')">活動状況を切り替える</button></div>
                {% endif %}
            </div>
        </div>
        <div class = "col">
            <div class = "row ">
                <div class = "col border-top">
                <h5>企業データ</h5>
                    <table class  = "table  table-hover">{% for field in D_Form %}
                        <tr>
                            <td>{{ field.label }}:</td>
                        {% if field.label == "URL" %}
                            <td>{{ field.value }}<br><button class = "btn btn-outline-info" onclick="Main.default.open_as_window.open_as_window('{{ field.value }}', 'C_Site', 1000,800)"> 開く</button></td>
                        {% else %}
                            <td>{{ field.value }}</td>
                        {% endif %}
                    </tr>

                    {% endfor %}</table>
                </div>
            </div>
            <div class = "row">
                <div class  ="col border-top" >
                    <h5>採用情報</h5>
                    <table class  = "table  table-hover">{% for field in AD_Form %}
                        <tr>
                            <td>{{ field.label }}:</td>
                            <td>{% if field.name == "from_url" %}{% if field.value  %} URLあり <button class = "btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: .75rem;" onclick="Main.default.open_as_window.open_as_window('{{ field.value }}', 'AD_Site', 1000,800)"> 開く</button> {% else %} 未登録 {% endif %}{% endif %}</td>
                        </tr>
                    {% endfor %}</table>
                </div>
            </div>
            <div class = "row border-top text-center">
                <div class = "col m-3">
                <button class ="btn btn-outline-primary" onclick="window.close()">閉じる</button>
            
            </div>
            </div>
        </div>
        
    </div>
    </div>
    <script>
        Main.default.open_as_window.init()
    </script>
    
    {% include "main/footer.html"  %}
</body>
</html>