<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        <div class="row">
            <div class = "border-bottom"><!--プログレスバー-->
                <h4 class = "text-center">セット登録</h4>
                <div class = "col-6 mx-auto my-3">
                        <h5>進捗度</h5>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "container">
                <div class = "row text-center border">

                    <h5>すべての情報の登録が完了しました。</h5>
                    
                <div class = "row text-center ">

                </div>
                
            </div>
        </div>
        <div class = "row">
            <div class = "container">
                <div class = "col">
                    <form method = "post">
                        {% csrf_token %}
                        <div class = "container">
            
                        <div class = "row text-center border">
                            <h5>企業情報</h5>
                            <table class = "col">
                                {% for field in C_Form %}
                                    <tr>
                                        <td>{{ field.label }}:</td>
                                        <td>{{ field.value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class ="row border mt-4 px-2">
                            <div class = "col border-end">
                            <h5>事業内容</h5>
                            <table>
                                {% for field in A_Form %}
                                    <tr>
                                        <td>{{ field.label }}:</td>
                                        <td>{{ field.value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class = "col">
                            <div class = "row ">
                                <div class = "col ">
                                <h5>経営理念等</h5>
                                    <table>
                                        {% for field in I_Form %}
                                            <tr>
                                                <td>{{ field.label }}:</td>
                                                <td>{{ field.value }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class ="row border mt-4 ">
                        <h4 class = " text-center m-3">志望動機・企業情報</h4>
                        <div class = "col border">
                        <h5>志望動機シート</h5>
                        <table>{% for field in M_Form %}
                            <tr>
                                <td>{{ field.label }}:</td>
                                <td>{{ field.value }}</td>
                            </tr>
                        {% endfor %}</table>
                    </div>
                    <div class = "col">
                        <div class = "row ">
                            <div class = "col border-top">
                            <h5>企業データ</h5>
                                <table>{% for field in D_Form %}
                                    <tr>
                                        <td>{{ field.label }}: </td>
                                        <td>{{ field.value }}</td>
                                    </tr>
                                {% endfor %}</table>
                            </div>
                        </div>
                        <div class = "row">
                            <div class  ="col border-top" >
                                <h5>採用情報</h5>
                                <table>{% for field in AD_Form %}
                                    <tr>
                                        <td>{{ field.label }}:</td>
                                        <td>{{ field.value }}</td>
                                    </tr>
                                {% endfor %}</table>
                            </div>
                        </div>
                        <div class = "row border-top text-center">
                            <div class = "col m-3">
                            <button class = "btn btn-outline-success" onclick = "window.parent.document.location.reload()">トップ画面へ戻る</button>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>

    {% include "main/footer.html"  %}
</body>

</html>