<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header.html" %}
        <div class="row">
            <div class = "border-bottom"><!--プログレスバー-->
                <h4 class = "text-center">セット登録</h4>
                <div class = "col-6 mx-auto my-3">
                        <h5>進捗度</h5>
                        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "container">
                <div class = "row text-center border">

                    <h5>企業情報の登録が完了しました。</h5>
                    <table class = "col">
                        {% for field in I_Form %}
                            <tr>
                                <td>{{ field.label }}:</td>
                                <td>{{ field.value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class = "row text-center ">
                    <form method = "post">
                        {% csrf_token %}
                    <div class = "row">
                        <div class ="col">
                            <h5 >志望動機シート</h5>
                        </div>
                        <table>{{M_Form}}</table>
                    </div>
                    <div class = "col">
                        <div class = "border-top">
                        <button class = "btn btn-outline-primary my-3" type="submit">次へ進む</button>
                    </div>
                    </div>
                </form>
                </div>
                
            </div>
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</body>

</html>