
{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
    <div class= "container-fluid">
        <div class="row border">
            <!-- ヘッダー -->
            <h2 class="text-center">CRAIMAS 【クレイマス】 </h2>
            <div class="row text-center">
                <div class="col">
                    <h4>現在の登録社数: {{num_c}}社</h4>
                </div>
                <div class="col">
                    <h4>現在の活動中件数: {{num_a}}件</h4>
                </div>
            </div>
        </div>
        <div class= "row">
            <div class = "container m-3">
            </div>
            <div class = "container border">
                <div class = "row">
                    <h3>検索結果一覧</h3>
                    <div class = "col-6 bg-warning-subtle mx-auto">
                    <p>紐づけ元企業が削除された際、すべての登録において紐づけが解除されます。</p>
                </div>

                </div>
                <div class = "row"><!--投稿一覧-->
                    <table class = "col m-3 border ">
                        <tr>
                            <th>法人番号</th>
                            <th>企業名</th>
                            <th>代表者名</th>
                            <th>本店所在地</th>
                            <th>事業概要</th>
                            <th>従業員数</th>
                            <th>URL</th>
                            <th>更新日</th>
                            <th>状況</th>
                            <th>引用</th>
                        </tr>
                        <tr>
                            <td>{{result.corporate_number}}</td>
                            <td>{{result.name}}</td>
                            <td>{{result.representative_position}} {{result.representative_name}}</td>
                            <td>〒{{result.postal_code}} {{result.location}}</td>
                            <td>{{result.business_summary}}</td>
                            <td>{{result.employee_number}}</td>
                            <td>{% if result.company_url %}<p>{{result.company_url}}</p><button type = "button" class = "btn btn-outline-info" onclick="open_as_window('{{result.company_url}}', 'url', 1000,1000)">URLを開く</button>{% else %}<p>URL無し</p>{% endif %}</td>
                            <td>{{result.update_date}}</td>
                            <td>{% if result.status == "-" %} 営業中 {% else %} {{result.status}}{% endif %}</td>
                            <td>{{result.a_year}}</td>
                            <td><button class = "btn btn-info" onclick = "apply_data()">引用</button></form></td>
                        </tr>
                    </table>
                </div>
                
            </div>
            <div class = " col m-3">
                <button class = "btn btn-danger" onclick="window.close()">閉じる</button>
            </div>

        </div>
    </div>
    <script>
        function apply_data(){
            var form = document.createElement("form");
            form.action = '{% url "set_searched_data" %}';
            form.method = "POST";
            let csrf = document.createElement("input");
            csrf.type = 'hidden';
            csrf.name = 'csrfmiddlewaretoken';
            csrf.value = '{{ csrf_token }}';
            form.appendChild(csrf);
            let return_to = document.createElement("input");
            return_to.type = 'hidden';
            return_to.name = 'return_to';
            return_to.value = '{{return_to}}';
            form.appendChild(return_to);
            let corporate_number = document.createElement("input");
            corporate_number.type = 'hidden';
            corporate_number.name = 'corporate_number';
            corporate_number.value = '{{result.corporate_number}}';
            form.appendChild(corporate_number);
            window.opener.document.body.appendChild(form);
            form.submit();
        }
</script>

        
    </script>
    <script src = {% static "js/open_as_window.js" %}></script>
</body>
</html>