<!DOCTYPE html>
<html lang="jp">
<head>
    {% include "main/html_head.html" %}

</head>
<body>
    <div class= "container-fluid">
        {% include "main/header.html" %}
        <div class= "row">
            <div class = "container">
                <div class = "row">
                    <h3>紐づけ元企業一覧</h3>
                    <div class = "col-6 bg-warning-subtle mx-auto">
                    <p>紐づけ元企業が削除された際、すべての登録において紐づけが解除されます。</p>
                </div>

                </div>
                <div class = "row"><!--投稿一覧-->
                    <table class = "col m-3 border ">
                        <tr>
                            <th>企業名</th>
                            <th>所属業界</th>
                            <th>担当者名</th>
                            <th>募集年度</th>
                            <th>引用</th>
                        </tr>
                        {% for post in posts %}
                        <tr>
                            <td>{{post.name}}</td>
                            <td>{{post.industry}}</td>
                            <td>{{post.contact}}</td>
                            <td>{{post.Ca_year}}</td>
                            <td><form method = "post">{% csrf_token %}<input type="hidden" value = "ok" name = "import"><input type="hidden" value = "{{post.CompanyID}}" name = "ID"><button class = "btn btn-info" type="submit">引用</button></form></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                
            </div>
            <div class = " col mx-auto">
                <a class = "btn btn-primary" href="{% url "create_company" %}">手入力に戻る</a>
            </div>

        </div>
    </div>
    <script>
        function open_as_window(url){
            window.open(`${url}`, "", "width=800,height=900,toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes");
}

</script>

        
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>

</body>
</html>