<table class="table border border-3 ">
    <thead>
        <th scope = "col" style = "color:#FF0000">日</th>
        <th scope = "col">月</th>
        <th scope = "col">火</th>
        <th scope = "col">水</th>
        <th scope = "col">木</th>
        <th scope = "col">金</th>
        <th scope = "col" style = "color:#0000FF" >土</th>
    </thead>
    <tbody>
        {% for week in list_calendar %}
            <tr style="height: 100px;">
            {% for day in week %}
                <td class = " border {% if day == today %}bg-success-subtle{% endif %}">
                    {% if day != 0 %}
                        <p class = "">{{day}}</p>
                        {% for interview in list_interview %}
                                {% if day == interview.date %}
                                <button class = "btn btn-outline-secondary" style = " --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; margin: 3px" onclick  = "open_as_window('{% url "view_interview" interview.Interview.InterviewID %}', 'interview', '400', '600' )">面談録有り: {{interview.Interview.company_name}}</button><br>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>