{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header.html" %}
        <div class="row m-2">
            <div class="container">
                <div class = "row">
                    <h3 class = "m-2 border-bottom"> カレンダー</h3>
                </div>
                <div class = "row m-3">
                    <h5 class = "text-center"><button class = "btn btn-light" style = "margin-right:2cm" onclick = "Main.default.calendar_main.get_calendar('{% url 'get_calendar' month='month' year='year' %}', 'b')">前月</button><span id = "year" style = "font-size:xx-large ">{{def_year}}</span> 年 <span id = "month" style = "font-size:xx-large ">{{def_month}}</span>月<button class = "btn btn-light" style = "margin-left:2cm" onclick = "Main.default.calendar_main.get_calendar('{% url 'get_calendar' month='month' year='year' %}', 'n')">翌月</button></h5>
                    <table class="table border border-3 ">
                        <div class="spinner-border text-secondary mx-auto" role="status" id = "loading">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                    </table>
                </div>
            <div class = "row"> <div class = "col text-center"><a class = "btn btn-primary" href = "{% url "index" %}">ホームへ戻る</a></div></div>
        </div>
    </div>

    </div>


<script>
    
</script>

<script>
    Main.default.open_as_window.init()
    Main.default.calendar_main.init("{% url 'get_calendar' month='month' year='year' %}")
</script>

</body>

</html>