{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
    </head>
<body>
    <div class = "container">
        <div class = "row">
            <h1>ログイン</h1>
            {% if status.results == "error" %}
                
                <div class = "text-center alert alert-warning">
                    <h5>もしくは、ユーザーが有効化されていない可能性があります。</h5>
                    <h5>メール認証を行うか、管理者までお問い合わせください。</h5>
                </div>
                
                {% endif %}
    <p>{{message}}</p>
    <div class = "row">
        <div classs = "col border">
                <form action="{% url 'login'%}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="col p-2">
                        {% bootstrap_field field %}
                    </div>
                    {% endfor %}
                    
                        <p><input type="hidden" name="next" value="{{next}}"></p>
                        <p><input type="submit" class = "btn btn-primary" value="ログイン"></p>
                    </form>
                    
        </div>
    </div>
    

    <p><a href="{% url 'signup'%}">ユーザー登録</a></p>
        </div>
    
    <div class = "my-3">
    {% include "main/footer.html" %}
    </div>
    

</div>

</body>
</html>
