{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
        <link rel="stylesheet" href="{% static "login/css/main.css" %}">
    </head>
<body class="container-fluid bg-info-subtle">
  <div class = "row">

    <main class=" my-4 mx-auto col-6 border rounded">
        {% if status.results == "error" %}
                    
                    <div class = "text-center alert alert-warning">
                        <h4>{{status.message}}</h4>
                        <h5>もしくは、ユーザーが有効化されていない可能性があります。</h5>
                        <h5>メール認証を行うか、管理者までお問い合わせください。</h5>
                    </div>
                    {% elif status.results == "NG" %}
                    <div class = "text-center alert alert-danger">
                        <h4>{{status.message}}</h4>
                    </div>
                    {% endif %}
        <p>{{message}}</p>
        <form action="{% url 'login'%}" method="post">
        <img class="mb-4" src="{% static "assets/icon.png" %}" alt="" width="64px" height="64px">
        <h1 class="h3 mb-3 fw-normal">ログイン</h1>

            {% csrf_token %}
            {% for field in form %}
            <div class="form-floating">
                {% bootstrap_field field %}
            </div>
            {% endfor %}

                <input type="hidden" name="next" value="{{next}}">
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <p><a href="{% url 'signup'%}">ユーザー登録</a></p>
      </form>
    </main>
  </div>
</body>
</html>