{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
    </head>
    
    <body>
        <div class = "container-fluid px-0">
            <div class = "row">
                <h2 class = "text-center">CRAIMAS 【クレイマス】 利用規約</h2>
            </div>
            <div class = "row">
                <h4 class = " col border-bottom">1. ご利用にあたって</h4>
                <p>この利用規約は、<a href="https://github.com/Dai-H15"  target="_blank" rel="noopener noreferrer">Dai-H15</a>（以下、管理人）が、個人に向けて提供を行っているウェブサイト(https://craimas.com/)にて運用されている、CRAIMAS 【クレイマス】 を利用される方（以下、利用者）に共通して適用される利用条件を定めたものになります</p>
                <div class = "row">
                    <div class = "container">
                        <h5>1.1 利用規約に関して</h5>
                        <p>本サービスを利用するにあたっては、本規約に同意する必要があります。</p>
                        <p>管理人は、以下のいずれかに該当する場合、利用者の承諾を得ることなく、本規約の内容を変更すること、及び本規約に新たな内容を追加することができるものとする</p>
                        <ul>
                            <li>(1)　利用規約の変更が、利用者の一般の利益に適合するとき</li>
                            <li>(2)　利用規約の変更が、契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当性、変更の内容その他の変更に係る事情に照らして合理的なものであるとき。</li>
                        </ul>
                        <p>前項による利用規約の変更の詳細については、変更後の利用規約の効力発生日の3日前までに、管理人にて、登録されているメールアドレス宛に通知を行う</p>
                    </div>
                    <div class = "row">
                        <h5>1.2 禁止行為</h5>
                        <p>本サイトの利用者は、以下の行為をしてはならない。</p>
                        <ul>
                            <li>(1)　管理人または第三者の財産、権利もしくはプライバシー等を侵害する行為、またはそのおそれのある行為</li>
                            <li>(2)　管理人または第三者に不利益もしくは損害を与える行為、またはそのおそれのある行為</li>
                            <li>(3)　管理人または第三者の名誉・信用を毀損する行為、またはそのおそれのある行為</li>
                            <li>(4)　公序良俗に反する行為、またはそのおそれのある行為</li>
                            <li>(5)　営業活動もしくは営利を目的とする行為、またはその準備を目的とする行為</li>
                        </ul>
                        <p>管理人は、その他禁止行為に抵触する行為を発見・通報を受けた際は、当該ユーザーの利用を停止するとともに、メールアドレス宛に通知を行う。アカウントの停止は、当該行為が確認され次第即時に行い、復旧は原則行わないこととする。その際、登録されたデータは原則返却を行わずに削除を行う。</p>
                    </div>
                </div>
                
            </div>
            <div class = "row">
                <div class = "container">
                    <h4 class = "col border-bottom">2. 著作権等</h4>
                    <h5>2.1 当サイトの著作権</h5>
                    <p>本サイト内のすべてのプログラム、情報、文章、画像等一切の著作物に関する著作権は管理人に帰属する。</p>
                    <p>入力された面談録、企業情報、面接者情報等のプライバシーに関わる情報に関しては、以下の条項に当てはまる場合にのみ利用を許可されたものとする</p>
                    <ul>
                        <li>(1)　データベースのメンテナンス時にデータの整合性を確認する必要があった際</li>
                        <li>(2)　利用者本人による本人の登録情報の照会、また操作の補助や情報の確認の要請があった際</li>
                        <li>(3)　その他、必要と認め管理人から利用者に対して情報の利用に対して同意を行い、承認を得られた際</li>
                    </ul>
                    <p>上記内容は、必要に応じて変更を行うことが可能であることに同意する必要があり、本利用規約に同意があった際に同意を得られるものとする。</p>
                    <p>利用者は、管理人の許可なく、前項の著作物の複製、公衆送信、出版、頒布等を、私的利用目的の範囲を超えて行ってはならない。</p>

                </div>
            </div>
            <div class = "row">
                <div class = "container">
                    <h4 class = "col border-bottom">3. 情報の正確性等</h4>
                    <h5>3.1 情報の正確性</h5>
                    <p>管理人は、本サイトに掲載された情報等につき、その正確性、完全性、有用性、特定の目的への適合性、第三者の権利の非侵害等に関して、いかなる保証も行わない。</p>
                    <p>管理人は、予告なしに、本サイトの全部または一部の運営を停止または中断し、また本サイトに掲載された情報等の全部または一部を変更する場合がある。</p>
                </div>
            </div>
            <div class = "row">
                <div class = "container">
                    <h4 class = "col border-bottom">4. 免責事項</h4>
                    <h5>4.1 サービスの中断</h5>
                    <p>管理人は、本サイトの運営に関して、予告なしに中断または停止することがあり、これによって利用者または第三者に生じた損害について、一切の責任を負わない。</p>
                    <h5>4.2 情報の利用</h5>
                    <p>利用者が本サイトに掲載された情報等を利用したことにより、利用者または第三者に損害が生じた場合、管理人は一切の責任を負わない。</p>
                    <h5>4.3 サイトの利用</h5>
                    <p>利用者が本サイトを利用したことにより、利用者または第三者に損害が生じた場合、管理人は一切の責任を負わない。</p>
                    <h5>4.4 損害賠償の請求</h5>
                    <p>利用者が、本規約に違反する行為、または不正もしくは違法な行為によって、管理人に損害を与えた場合には、管理人は、利用者に対して、当該行為の差止め、および管理人の被った損害の賠償を請求することができるものとする。</p>
                </div>
            </div>
            <div class = "row">
                <div class ="container">
                    <h4 class = "col border-bottom">5. その他条項</h4>
                    <h5>5.1 利用規約の解釈</h5>
                    <p>本規約の解釈にあたっては、日本法を準拠法とし、本規約の内容についての紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とする。</p>
                </div>
            </div>
            <p>新規登録申請を行う際、システム上に記録されるアカウント作成日をもって、利用規約への同意日とみなします。</p>
            <p>以上</p>
            <p>作成: 令和6年5月29日</p>
        </div>

</body>
</html>
