{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
    </head>
    <body>
        <div class = "container">
                <h2 class = "row mb-3">ユーザー登録申請</h2>
                <div class = "row mb-3"></div>
                <h5> CRAIMAS 利用申請フォームです</h5>
                <h5> 登録後、完了画面のリンクからメール送信で承認申請を行うことで利用を開始することができます。 </h5>
            <div class = "row">
                <div class  = "col  border text-center p-3">
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="col p-2">
                        
                        {% bootstrap_field field %}
                        {% if field.name == "gBIZINFO_key" %} <h6 class = "mb-3"> 利用には gBizINFOの Web API の利用申請を行い、APIキーを取得する必要があります。 <a href="https://info.gbiz.go.jp/hojin/api_registration/form" target="_blank" rel="noopener" > こちら </a> からAPIキーを取得してください </h6>{% endif %}
                    </div>
                {% endfor %}
                </div>
                <div class = "row"><button type = "submit" class = "btn btn-outline-success btn-lg my-2">新規登録</button></div>
                    </form>
                </div>
                    <div class = "row">
                    <a href="{% url "index" %}" class = "col-2 mx-auto p-2 btn btn-primary">ホームへ戻る</a>
                </div>
            </div>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            var confirmation = confirm('ユーザー名・卒業年度は修正できませんがよろしいですか？');
            if (!confirmation) {
                event.preventDefault();
            }
        });
    </script>
    

</body>
</html>
