<div class = "row text-center">
  <div class = "row "><p>白: 未選択 / 青: 昇順 / 黄色: 降順</p></div>
  {% for option in options %}
  <div class = "col"><a class = "btn btn-{{option.color}} {{option.active}}" href="{% url "view_main" control="interview" option=option.n_option|add:option.reverse %}" role = "button" >{{option.desc}}</a></div>
  {% endfor %}
</div>
<table class  = "table  table-hover">
    <thead>
    <tr>
        <th></th>
        {% for th in th_all %}
        <th scope = "col">{{th}}</th>
        {% endfor %}
        
    </tr>
</thead>
<tbody>
        {% for result in results %}
        <tr>
            <th scope = "row">{{forloop.counter}}</th>
            <td>{{result.title}}</td>
            <td>{{result.date}}</td>
            <td>{{result.interviewer}}</td>
            <td>{{result.aspire}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      操作
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item  p-2" onclick="open_as_window('{% url "view_interview" result.InterviewID %}','interview{{forloop.counter}}',400,600)">面談録閲覧</a></li>
                    </ul>
                  </div>
            </td>
        </tr>
        {% endfor %}
</tbody>
</table>
