
<div class = "row border-top my-3">
    <div class = "text-center py-3 mx-auto">
        <b id = "js_version">動作エラー: 必須ライブラリの読み込みに失敗しました。キャッシュの削除・JavaScriptが有効になっていることを確認してください</b>
        <p>© 2024 Daichi Matsumoto</p>
    </div>
    <div class = "text-center mx-auto">
<span id="csi_siteseal_tag" oncontextmenu="return false;">
            <a id="csi_siteseal_profile_link">
                <img decoding="async" alt="light_100x50.png" id="csi_siteseal_image" width="100" height="50" src="#" style="display: none" />
            </a>
        </span>
        <script>
            window.addEventListener('load', () => {
                let s = document.createElement("script");
                s.src = "https://gmo-cybersecurity.com/siteseal/siteseal.js"
                document.body.appendChild(s);
            });
        </script>
    </div>
        
</div>
<script>
    Main.default.open_as_window.init();
    Main.default.footer.init();
</script>
