{% load static %}
<div class ="container-fluid border-bottom">

<div class="row  ">
    <!-- ヘッダー -->
        <div class = "col-1">
            <img src="{% static "assets/icon.png" %}" alt="アイコン"width="58" height="58" style="padding:0;">
        </div>
        <h2 class="text-center col-10 m-auto" >CRAIMAS v2</h2>
        <div class = "col-1"></div>
    <div class="row text-center ">
        {% if user.is_authenticated %}
        <div class="col">
            <h4>現在の登録社数: {{num_c}}社</h4>
        </div>
        <div class="col">
            <h4>現在の活動中件数: {{num_a}}件</h4>
        </div>
        {% endif %}
    </div>
</div>
</div>