<!DOCTYPE html>
<html lang="ja">
{% include "main/html_head.html" %}
<body>
    <div class="container-fluid">
        {% include "main/header.html" %}
        <div class="row m-2">
            <div class="container">
                <div class="row">
                    {% if  user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="col text-center p-3 border" style="background: none!important; border: none; padding: 0!important; font-family: arial, sans-serif; color: #069; text-decoration: underline; cursor: pointer;">
                            <h3>ログアウト</h3>
                        </button>
                    </form>
                    {% endif %}
                    <a href="{% url "mypage" %}">
                        <div class="col text-center p-3 border">
                            <h3>マイページ</h3>
                        </div>
                    </a>
                    {% if user.is_staff %}
                    <a href="{% url "management" %}">
                        <div class="col text-center p-3 border text-success ">
                            <h3> 管理者用ページ</h3>
                        </div></a>{% endif %}
                    <a href="{% url "view_index" %}">
                    <div class="col text-center p-3 border">
                        <h3>各種シート管理</h3>
                    </div></a>
                    <a href="{% url "calendar_main" %}">
                        <div class="col text-center p-3 border">
                            <h3> カレンダー</h3>
                        </div></a>
                    <a href="{% url "regist_base" %}">
                    <div class="col text-center p-3 border">
                        <h3> 登録する</h3>
                    </div></a>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>

</html>