{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        <div class="row m-2">
            <div class="container">
                <div class = "row"><h4 class = "text-center">カスタムシートをエクスポートします</h4></div>
                    <div class = "row text-center my-4">
                        <div class = "col"><a class = "btn btn-primary" href="{% url "view_index" %}" >シート管理へ戻る</a></div>
                        <div class = "col"><form method="post">{% csrf_token %}<button class = "btn btn-success" >エクスポート</button></form></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    {% include "main/footer.html"  %}

</body>
</html>