{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header.html" %}
        <div class="row m-2">
            <div class="container">
                <div class = "row"><h4 class = "text-center">カスタムシートをインポートします</h4><h5 class = "text-center">名前が重複しているシートはインポートされません。詳細は結果画面を確認してください</h5></div>
                    <form method="post" enctype="multipart/form-data" class = "row mx-auto my-4">{% csrf_token %} <div class = "col-auto"> <input class="form-control" type="file" id="file" name="file" required></div><div class = "col-auto"> <button class = "btn btn-primary mb-3" >インポート</button></div></form>
                        <div class = "col text-center my-4"><a class = "btn btn-primary" href="{% url "view_index" %}" >シート管理へ戻る</a></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>
        let wind = [];
        function open_as_window(url,name,width,height){
            wind.push(window.open(`${url}`, `${name}`, `width=${width},height=${height},toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes`))
    };
    window.addEventListener('beforeunload', function(){
        if (wind.length !=0){
            for(let i = 0; i < wind.length; i++){
                wind[i].close();
            }
        }
    });
</script>
</body>
</html>