{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header.html" %}
        <div class="row m-2">
            <div class="container">
                <div class = "row">
                        <h4>シート一覧</h4>
                        <div class = "col-2 border p-3" style="height: 100%%">
                            <div class="list-group">
                                {% for m in menu %}
                                    <a href="{% url 'view_main' control=m.choice option="default" %}" class="list-group-item list-group-item-action {{m.active}}" aria-current="true">{{m.desc}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class  = "col-10 border">
                            {% if message %}
                            <div class="alert alert-{{message.type}} m-3" role="alert">
                                {{message.message}}
                            </div>
                            <div class  = "col text-center">
                                <a class = " btn btn-primary" href="{% url "view_index" %}">シート管理へ戻る</a>
                            </div>
                            {% endif %}
                            {% if sheet_config %}
                            <button class="btn btn-primary m-2" type="button" data-bs-toggle="collapse" data-bs-target="#settings_info" aria-expanded="false" aria-controls="settings_info">
                                検索条件を表示
                            </button>
                            <button class = "btn btn-outline-danger" onclick = "open_as_window('{% url "delete_custom_sheet" sheet_config.sheet_id %}','interview{{forloop.counter}}',400,600)">カスタムシートを削除する</button>

                            <div class="collapse" id="settings_info">
                                <div class="alert alert-info">
                                    <h5>検索条件</h5>
                                    <ul>
                                        <li>検索対象モデル: {{sheet_config.model}}</li><br>
                                        <li>表示対象フィールド<ul>{% for key,val in sheet_config.selected.items %} <li>{{val}} ({{key}}) </li> {% endfor %}</ul></li><br>
                                        <li>表示順制御条件<ul>{% for key,val in sheet_config.view_settings.items %}<li>{{key}}: {% if val == "1" %}昇順{% elif val == "2" %}降順{% endif %}</li>{% endfor %}</ul></li><br>
                                        <li>絞り込み条件設定<ul>
                                            <li>検索方法: {% if sheet_config.search_settings.how == "1" %}完全一致{% elif sheet_config.search_settings.how == "2" %}部分一致{% elif sheet_config.search_settings.how == "3" %}以上{% elif sheet_config.search_settings.how == "4" %}以下{% endif %}</li>
                                            <li>検索対象項目: {{sheet_config.search_settings.where}}</li>
                                            <li>検索文字列: 「{{sheet_config.search_settings.what}}」</li>
                                        </ul></li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}

                            {% if results %}
                            {% if customsheet %}
                                {% include "view/customsheet/viewer.html" %}
                            {% else %}
                            {% with "view/tables/"|add:control|add:".html" as template_name %}
                                    {% include template_name %}
                                {% endwith %}
                            {% endif %}
                            {% endif %}
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script>
        let wind = [];
        function open_as_window(url,name,width,height){
            wind.push(window.open(`${url}`, `${name}`, `width=${width},height=${height},toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes`))
    };
    window.addEventListener('beforeunload', function(){
        if (wind.length !=0){
            for(let i = 0; i < wind.length; i++){
                wind[i].close();
            }
        };
    });
</script>
</body>
</html>