{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    {% include "main/html_head.html" %}
  </head>
  <body>
    <div class="container-fluid">
      <h3 class="text-center">金額入力ツール</h3>
      <div class="row">
        <div class="col text-center my-3 border">
          <h5>金額入力欄</h5>
          <input type="text" id="1" />億<input type="text" id="2" />万<input type="text" id="3" />千円
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>適用先</h5>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="apply_to"
              id="capital"
              checked
            />
            <label class="form-check-label" for="capital"> 資本金欄 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="apply_to"
              id="sales"
            />
            <label class="form-check-label" for="sales"> 売上高欄 </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="apply_to"
              id="salary"
            />
            <label class="form-check-label" for="salary"> 新卒初任給欄 </label>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <button class="btn btn-success" onclick="Main.default.calc.apply_calc()">適用</button>
        </div>
        <div class="col">
          <button class="btn btn-danger" onclick="window.close()">
            閉じる
          </button>
        </div>
      </div>
    </div>
    {% include "main/footer.html"  %}

  </body>
</html>
