{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header_newtab.html" %}
        <div class="row m-2">
            <h4>自動修正完了</h4>
            <div
                class="alert alert-success"
                role="alert"
            >
                <strong>該当企業の面接官シートの自動修正が完了しました</strong><br>
                この画面を閉じて再度操作を実行してください。
            </div>
            
        </div>
    </div>
    <script>
        window.addEventListener("beforeunload", function(){window.opener.location.reload()})
    </script>

    </div>
      {% include "main/footer.html"  %}

    </body>

</html>