{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}
</head>

<body>
    <div class="container-fluid">

        {% include "main/header_newtab.html" %}
        <div class="row m-2">
            {% if message %}<div class="alert alert-{{message.type}} text-center" role="alert">{% for text in message.texts %} <b>{{text}}</b><br> {% endfor %}</div>{% endif %}
            <div class  = "text-center"><h4>{{company}}</h4></div>
            <div class  = "text-center"><h4 class = "border-bottom p-3">{{i_name}}</h4></div>
            <div class="container">
                <div class="row p-3">
                    <form method = "post">
                    {% csrf_token %}
                    {% for f in form %}
                    {% bootstrap_field f %}
                    {% if f.name == "prof_url" %}<button type ="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: .90rem;" class = "btn btn-outline-info" onclick="open_url('prof_url', 1000,800)"> このURLを開く</button>{% endif %}
                    {% endfor %}
                    {% if not as_staff %}
                    <button type="button" onclick="p_save()" class = "btn btn-success">登録</button>
                    {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>

    </div>
    {% if not as_staff %}
    <script src = "{% static "js/interviewer.js" %}"></script>
    {% endif %}
    <script src = "{% static "js/open_url.js" %}"></script>
    <script src = {% static "js/open_as_window.js" %}></script>
    <div class="toast-container position-fixed top-0 start-0 p-3">
        <div id="status-toast" class="" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-body text-white " id = "toast-status"></div>
        </div>
      </div>
    </body>

</html>