{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% include "main/html_head.html" %}

</head>

<body>
    <div class="container-fluid">

        {% include "main/header_newtab.html" %}
        <div class="row m-2">
            {% if message %}<div class="alert alert-{{message.type}} text-center" role="alert">{% for text in message.texts %} <b>{{text}}</b><br> {% endfor %}</div>{% endif %}
            <div class  = "text-center"><h4>{{company}}</h4></div>
            <div class  = "text-center"><h4 class = "border-bottom p-3">{{i_name}}</h4></div>
            <div class="container">
                <div class="row p-3">
                    <form method = "post">
                    {% csrf_token %}
                    {% for f in form %}
                    {% bootstrap_field f %}
                    {% if f.name == "prof_url" %}<button type ="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: .90rem;" class = "btn btn-outline-info" onclick="open_url('prof_url', 1000,800)"> このURLを開く</button>{% endif %}
                    {% endfor %}
                    {% if not as_staff %}
                    <button type="button" onclick="p_save()" class = "btn btn-success">登録</button>
                    {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>

    </div>
    {% if not as_staff %}
    <script>
        async function p_save(){
            const s = document.querySelector('form');
            const url = "{% url 'prof_interviewer' company_id=company_id i_name=i_name %}";
            const formData = new FormData(s);
            let toastBootstrap;
            const init = {
                method: "POST",
                body: formData
            }
            const res = await fetch(url,init);
            const data = await res.json();
            console.log(res);
            if (res.ok) {
                const toast = document.getElementById('status-toast');
                if (data.status =="OK"){
                toast.className = "toast bg-info";
                 toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
                document.getElementById('toast-status').innerHTML = `保存しました 情報: ${data.reason}`;}
                else{
                    toast.className = "toast bg-danger";
                     toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
                    document.getElementById('toast-status').innerHTML = `保存に失敗しました。  理由:  ${data.reason}  <br>エラー項目: ${data.error_list}` ;
                };
            }else{
                const toast = document.getElementById('status-toast');
                toast.className = "toast bg-danger";
                 toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
                document.getElementById('toast-status').innerHTML = `保存に失敗しました。  理由:  ${res.statusText}` ;
            };
            toastBootstrap.show();
            };
    </script>
    {% endif %}
    <script>
        function open_url(name,width,height){
            let url = document.getElementById("id_prof_url").value;
            let toastBootstrap;
            if (!(URL.canParse(url))){
                const toast = document.getElementById('status-toast');
                toast.className = "toast bg-danger";
                toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
                document.getElementById('toast-status').innerHTML = `表示に失敗しました<br>http または https から始まるURLを入力してください` ;
                toastBootstrap.show();
            }else{
                open_as_window(document.getElementById("id_prof_url").value,name,width,height);
            };
        };
    </script>
    <script src = {% static "js/open_as_window.js" %}></script>
    <div class="toast-container position-fixed top-0 start-0 p-3">
        <div id="status-toast" class="" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-body text-white " id = "toast-status"></div>
        </div>
      </div>
    </body>

</html>