{% load static %}
<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static "css/textarea.css" %}">
    </head>

    <body>
    <div class = "container-fluid">
        <div class="row border">
            <!-- ヘッダー -->
            <h2 class="text-center">Biz Intelli Scan </h2>
            <div class="row text-center">
                <div class="col">
                    <h4>現在の登録社数: {{num_c}}社</h4>
                </div>
                <div class="col">
                    <h4>現在の活動中件数: {{num_a}}件</h4>
                </div>
            </div>
        </div>
        <div class = "row text-center p-3">
            <div class = "col">
                <h3>一括登録を行います</h3>
            </div>
            <div class = "col">
                <div class = "btn-group">
                    <button button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        引用する
                    </button>
                    <ul class = "dropdown-menu">
                        <li><a href="{% url "search_company" "regist_all" %}" class="btn dropdown-item  btn-outline-success" >gBizINFOから引用</a></li>
                        <li><a type = "button"  onclick = "open_as_window('{% url "json_import" %}', 400, 200)" class = "btn dropdown-item  btn-outline-info">JSONから引用</a></li>
                    </ul>
                    
                    <a href="{% url "index" %}" class = "btn btn-outline-warning" >ホームへ戻る</a>
                </div>
            </div>
            
        </div>
        {% if messages %}
        <div class = "row">
            <div class = "col text-center">
                <div class="alert alert-{{messages.color}}" role="alert">
                    {{messages.message|safe}}
                </div>
            </div>
        </div>
        {% endif %}
        <form method = "post">
            {% csrf_token %}
            <div class = "container">

            <div class = "row text-center border">
                <h5>企業情報</h5>
                <table class  = "table  table-hover">{{C_Form.as_table}}</table>
            </div>
            <div class ="row border mt-4 px-2">
                <div class = "col border-end">
                <h5>事業内容</h5>
                <table class  = "table  table-hover">{{A_Form.as_table}}</table>
            </div>
            <div class = "col">
                <div class = "row ">
                    <div class = "col ">
                    <h5>経営理念等</h5>
                        <table class  = "table  table-hover">{{I_Form.as_table}}</table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class ="row border mt-4 ">
            <h4 class = " text-center m-3">志望動機・企業情報</h4>
            <div class = "col border">
            <h5>志望動機シート</h5>
            <table class  = "table  table-hover">{{M_Form.as_table}}</table>
        </div>
        <div class = "col">
            <div class = "row ">
                <div class = "col border-top">
                <h5 class = "col">企業データ</h5>
                <button type="button" class="btn btn-outline-warning my-3" onclick = "open_as_window('{% url "calc" %}',600,300)">金額入力ツール</button>
                    <table class  = "table  table-hover">{{D_Form.as_table}}</table>
                </div>
            </div>
            <div class = "row">
                <div class  ="col border-top" >
                    <h5>採用情報</h5>
                    <table class  = "table  table-hover">{{AD_Form}}</table>
                </div>
            </div>
            <div class = "row border-top text-center">
                <div class = "col m-3">
                <button type= "submit" class = "btn btn-outline-success btn-lg"> 登録 </button>
            
            </div>
            </div>
        </div>
        
    </div>
    </div>
        </form>
    </div>
    <script>
        let wind;
        function open_as_window(url,width,height){
            wind = window.open(`${url}`, "view_post", `width=${width},height=${height},toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no`);
    };
    window.addEventListener('beforeunload', function(){
        if (wind){
            wind.close();
        }
    });

</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
</script>

</body>
</html>