<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
    </head>
    <body>
    <div class = "container">
        <div class = "row">
            <div class = "col">
                <h2>登録完了</h2>
                <p>以下の企業の登録が完了しました。</p>
                
            </div>
            <div class = "row">
                <div class = "container text-center">
                    <div class  = "row">
                        <div class = "col text-center">
                                <h5>企業・団体名: {{C_Data.name}}</h5>
                                <h5>所属業界: {{C_Data.industry}}</h5>
                                <h5>代表者名: {{C_Data.president}}</h5>
                                <h5>担当者名: {{C_Data.contact}}</h5>
                                <h5>募集年度: {{C_Data.Ca_year}}</h5>
                                {% if In_counts %}
                                <h5>登録された面談録の数: {{In_counts}}</h5>
                                {% endif %}
                                {% if Interviewers_count %}
                                <h5>登録された面接官の数: {{Interviewers_count}} 名</h5>
                                {% endif %}
                        </div>
                    </div>

                </div>
                <a href = "{% url "index" %}" class = "btn btn-primary">戻る</a>
            </div>
        </div>
    </div>
    {% include "main/footer.html"  %}

</body>
</html>