<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
    </head>
    
<body>
    <div class = "container-fluid">
        <div class = "row p-3 text-center">
            <h3>登録方法を選択</h3>
            <div class = "row m-3">

            <a href="{% url "regist_all" %}"><div class = "col border m-3 p-3 "><h5>一括登録</h5></div></a>
        </div>
    </div>
    <div class = "row">
        <ul class = "list-unstyled">
            <li><h5>一括登録</h5></li>
            <ul>
                <li><p>企業名から採用情報まで一括で登録します</p></li>
                <li><p>初めての企業の登録を行う際に便利です</p></li>
                <li><p>登録済みの企業情報からの引用は行えません</p></li>
            </ul>
            <li><h5>セット登録 (公開休止)</h5></li>
            <ul>
                <li><p>ガイドに従いながら情報をセットごとに登録します</p></li>
                <li><p>企業情報の引用を行うことができます</p></li>
                <li><p>登録済みの企業情報を編集する際に便利です</p></li>
            </ul>
        </ul>
    </div>
    <div class = "text-center"><button class = "btn btn-primary" onclick = "window.parent.document.location.reload()">ホームに戻る</button></div>
    </div>
    {% include "main/footer.html"  %}

</body>
</html>