{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include "main/html_head.html" %}
        <link rel="stylesheet" href="{% static "css/textarea.css" %}">
    </head>

    <body>
    <div class = "container-fluid">
        {% include "main/header.html" %}
        <div class = "row text-center p-3">
            <div class = "col">
                <h3>一括登録を行います</h3>
            </div>
            <div class = "col">
                <input type="checkbox" class="btn-check" id="assist-check" autocomplete="off">
                <label class="btn btn-outline-info mx-2" for="assist-check">アシスト</label>
                
                    </input>
                    <button button type="button" class="btn btn-success dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false">
                        引用する
                    </button>
                    <ul class = "dropdown-menu">
                        <li><a href="{% url "search_company" "regist_all" %}" class="btn dropdown-item  btn-outline-success" >gBizINFOから引用</a></li>
                        <li><a type = "button"  onclick = "Main.default.open_as_window.open_as_window('{% url "json_import" %}','import_json', 400, 200)" class = "btn dropdown-item  btn-outline-info">JSONから引用</a></li>
                    </ul>
                    
                    <a href="{% url "index" %}" class = "btn btn-outline-warning mx-2" >ホームへ戻る</a>
            </div>
            
        </div>
        {% if messages %}
        <div class = "row">
            <div class = "col text-center">
                <div class="alert alert-{{messages.color}}" role="alert">
                    {{messages.message|safe}}
                </div>
            </div>
        </div>
        {% endif %}
        <form method = "post">
            {% csrf_token %}
            <div class = "container">

            <div class = "row text-center border">
                <h5>企業情報</h5>
                <table class  = " table  table-hover">{% for f in C_Form %} <div class = "col-6"> {% bootstrap_field f %}</div>{% endfor %}</table>
            </div>
            <div class ="row border mt-4 px-2">
                <div class = "col border-end">
                <h5>事業内容</h5>
                <table class  = "table  table-hover">{% for f in A_Form %}{% bootstrap_field f %}{% endfor %}</table>
            </div>
            <div class = "col">
                <div class = "row ">
                    <div class = "col ">
                    <h5>経営理念等</h5>
                        <table class  = "table  table-hover">{% for f in I_Form %}{% bootstrap_field f %}{% endfor %}</table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class ="row border mt-4 ">
            <h4 class = " text-center m-3">志望動機・企業情報</h4>
            <div class = "col border">
            <h5>志望動機シート</h5>
            <table class  = "table  table-hover">{% for f in M_Form %}{% bootstrap_field f %}{% endfor %}</table>
        </div>
        <div class = "col">
            <div class = "row ">
                <div class = "col border-top">
                <h5 class = "col">企業データ</h5>
                <button type="button" class="btn btn-outline-warning my-3" onclick = "Main.default.open_as_window.open_as_window('{% url "calc" %}','calc',600,300)">金額入力ツール</button>
                    <table class  = "table  table-hover">{% for f in D_Form %}{% bootstrap_field f %}{% endfor %}</table>
                </div>
            </div>
            <div class = "row">
                <div class  ="col border-top" >
                    <h5>採用情報</h5>
                    <table class  = "table  table-hover">{% for f in AD_Form %}{% bootstrap_field f %}{% endfor %}</table>
                </div>
            </div>
            <div class = "row border-top text-center">
                <div class = "col m-3">
                <button type= "submit" class = "btn btn-outline-success btn-lg"> 登録 </button>
            
            </div>
            </div>
        </div>
        
    </div>
    </div>
        </form>
    </div>
<script>
    Main.default.open_as_window.init();
    Main.default.assist_tooltip.main();
</script>
{% include "main/footer.html"  %}

</body>
</html>